@import "tailwindcss";

#bottom{
    background:linear-gradient(transparent,black) ;
}
*{
    font-family: 'font-[helvetica neue]';
}

:root{
    --cl:rgb(27, 60, 83);
    --c2:rgb(35, 76, 106);
    --c3:rgb(69, 104, 130);
    --c4:rgb(227, 227, 227);
}